Notes.txt
InputDataError.txt
*.txt
*.csv
*.exe
fort.8
mod/
obj/
Data/
GrowthOutput/
KrigingEstimates/
RecruitField/
Results/
TestFiles/
docs/html/
docs/rtf/
docs/latex/
docs/*.docx
docsUK
docsSIM
VERIFY/
InitiaCondition/*.txt
*.code-workspace
