Notes.txt
InputDataError.txt
*.txt
*.csv
*.exe
*.xlsx
*.xlsm
*.jpg
*.fig
*.asv
*.pdf
fort.8
mod/
obj/
Data/
GrowthOutput/
KrigingEstimates/
RecruitEstimates/
RecruitField/
Results/
TestFiles/
docs/html/
docs/rtf/
docs/latex/
docs/*.docx
docsUK
docsSIM
VERIFY/
InitiaCondition/*.txt
*.code-workspace
UKsrc/IORoutines.f90
UKsrc/Globals.f90
