Notes.txt
InputDataError.txt
*.txt
*.csv
*.exe
*.xlsx
*.xlsm
*.jpg
*.fig
*.asv
*.pdf
*.pyc
*.HOLD
fort.*
mod/
obj/
Data/
GrowthOutput/
KrigingEstimates/
RecruitEstimates/
RecruitField/
Results/
Results*/
TestFiles/
docs/html/
docs/rtf/
docs/latex/
docs/*.docx
docsUK
docsSIM
docsGUI
VERIFY/
InitiaCondition/*.txt
*.code-workspace
UKsrc/IORoutines.f90
UKsrc/Globals.f90
ScallopPopDensity
UK
RockStrata*
.DS_Store
~*