# configuration file for GridManager
# The following is the file name with corner coordinates associated with Special Access Areas.
# If not used then set to NONE or comment out line
# NOTE: Setting to NONE will also cause Mortality to not read in
# its special access fishing mortalities and default Fishing Mortalities are used.
Special Access Config File = SpecialAreas.csv
