#input file for Scallops 
# set largest expected number of grids
Max Number of Grids = 750
Domain Name = MA
Beginning Year = 2005
Ending Year = 2008
Time steps per Year = 13
Save By Stratum = T
# Configuration files are expected to be in the 'Configuration' directory
Mortality Config File = Mortality.cfg
Recruit Config File = Recruitment.cfg
Grid Manager Config File = GridManager.cfg